.our-vision {
	background-color: $primary;
}
.our-vision__title {
	color: $white;
	font-weight: 700;
	font-size: rem(48px);
	line-height: 120%;
}
.our-vision__text {
	font-family: $primary-font;
	color: $white;
	font-weight: 400;
	font-size: rem(24px);
	line-height: 120%;
}